{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
<div id="main">
<h2>Рубрика: {{ current_rubric.name }}</h2>
{% for bb in bbs %}
<figure>
<h2>{{ bb.title }}</h2>
<p>{{ bb.content|linebreaks }}</p>
{% if user.is_authenticated %}
<p id="container">
    <!--{{ bb.published|date:"d.m.Y H:i" }}-->
    <a href="{% url 'delete' bb.pk %}">Удалить статью</a>
    <a href="{% url 'edit' bb.pk %}">Исправить текст</a>
</p>
{% endif %}
</figure>
{% endfor %}
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}