{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css"
        href="{% static 'home_page/style.css' %}">
        <title id="title">{% block title %}Главная{% endblock %} - 
        BlockChain</title>
    </head>
    <body id="wrapper">
        <div id="main">
        <section>
        {% block content %}
        {% endblock %}
        </div>
        <nav id="sidebar">
            <img src="/static/home_page/bg.jpg/" alt="Digital currency" class="flexible-image">
            <a href="{% url 'index' %}">Главная</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
            {% if user.is_authenticated %}
            <a href="{% url 'add' %}">Добавить статью</a>
            <a href="{% url 'password_change' %}">Сменить пароль</a>
            <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </nav>
    </body>
</html>